@import "@Styles/base/fonts";
@import "@Styles/utils/mixins";
@import "@Styles/utils/variables";


$sidebarWidth: 300px;
$navEdge: 60px;


nav {
    height: 50px;
    width: auto;

    padding: 10px 0 20px 20px;
    transition: all $transitionSpeed;
    @include flex(flex-start, center);

    svg {
        cursor: pointer;
        color: $dark;
    }

    &.toggled {
        // 20px is the padding between the button and the left wall
        padding-left: $sidebarWidth + 20px;

        .sidebar {
            margin-left: 0;
        }
    }
}


.sidebar {
    position: absolute;
    top: 0;
    left: 0;

    width: $sidebarWidth;
    height: 100%;

    margin-left: -$sidebarWidth;
    transition: all $transitionSpeed;
    
    background-color: $dark;
    @include flex(center, center, column);
}