@import "@Styles/base/fonts";
@import "@Styles/utils/mixins";
@import "@Styles/utils/variables";


.sidebar {
    width: $sidebarWidth;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    transition: all $transitionSpeed;
    
    background-color: $darker;
    @include flex(center, center, column);

    a {
        width: 100%;

        color: $lighterFont;
        text-decoration: none;

        padding: 20px 0;
        transition: all $transitionSpeed;

        @include flex(center, center);
        
        &.active {
            color: $accentColor;
            filter: drop-shadow(0px 0px 10px $glowColor);
        }
    }
    
    @media screen and (max-width: $widthSmallest) {
        width: 100%;
        height: $sidebarWidth; // Bad name...

        @include flex(space-evenly, center, row);
    }
}
