@import "@Styles/base/fonts";
@import "@Styles/utils/mixins";
@import "@Styles/utils/variables";


nav {
    height: 50px;
    width: auto;

    padding: 10px 0 20px 20px;
    transition: all $transitionSpeed;
    @include flex(flex-start, center);
}


.sidebar {
    position: absolute;
    top: 0;
    left: 0;

    width: $sidebarWidth;
    height: 100%;

    transition: all $transitionSpeed;
    
    background-color: $darker;
    @include flex(center, flex-start, column);

    a {
        color: $lighterFont;
        text-decoration: none;

        padding: 20px 0;
        transition: all $transitionSpeed;

        &.active {
            color: #7289da; // Temporary
        }
    }
}