@import "@Styles/base/fonts";
@import "@Styles/utils/mixins";
@import "@Styles/utils/variables";

.sidebar {
    display: none;

    a {
        width: 100%;

        @include flex(center, center, column);
        padding-top: calc(var(--column-width) / 2);
        padding-bottom: calc(var(--column-width) / 2);

        text-decoration: none;
        font-size: 13px;
        font-family: Poppins;
        color: $lighterFont;

        svg {
            margin-bottom: 5px;
        }

        &.stickied {
            // Twitter in this case
            background-color: $dark;
            color: #1da1f2;
        }
    }



    @include for-phones-only {
        position: absolute;
        top: calc(var(--row-height) * 3);
        right: -100px;
        opacity: 0;
        overflow: hidden;
            
        width: 100px;
        height: auto;

        @include flex(center, flex-start, column);
        border-radius: 10px;
            
        z-index: 50;
        transition: all $transitionSpeed;

        background-color: $darker;

        &.active {
            right: calc(var(--column-width) * 0.2);
            opacity: 1;
            box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.10);
        }
    }
}