@import "@Styles/base/fonts";
@import "@Styles/utils/mixins";
@import "@Styles/utils/variables";

.small-container {
    position: relative;
    width: 100%;
    @include flex(center, center);
    background-image: linear-gradient(to bottom right, #161b22, #0f1318);

    font-family: "Exo 2";
    text-transform: uppercase;
    overflow: hidden;



    .info {
        width: 70%;
        height: 100%;

        padding: 30px 0 0 20px;
        text-align: left;

        .top {
            width: 100%;
            height: 50%;

            header {
                font-size: 22px;
                font-weight: 600;
                margin-bottom: 5px;
            }
    
            .subtitle {
                font-size: 15px;
                opacity: 0.5;
            }
        }

        .bottom {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 20px;
            font-size: 12px;
            opacity: 0.5;
        }
    }



    .live-data {
        width: 30%;
        height: 100%;
    }



    // Media queries downwards
    @include tablet(max-width) {
        @include flex(flex-start, flex-start);

        .live-data {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include flex(center, center);
            z-index: 1;
        }

        .info {
            width: 100%;
            height: auto;
            z-index: 2;
            padding: 20px;

            .top {
                header {
                    font-size: 19px;
                }

                .subtitle {
                    font-size: 14px;
                }
            }

            .bottom {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: auto;
                word-break: break-all;
                padding: 20px;
                font-size: 12px;
                opacity: 0.5;
            }
        }
    }

    @include phone(max-width) {
        .live-data {
            position: absolute;
            top: 0;
            right: 0;
            left: auto;
            height: 100%;
            width: 50%;
        }
    }
}