@import "@Styles/utils/mixins";
@import "@Styles/utils/variables";

.challenge {
    width: 100%;
    height: auto;
    min-height: 100px;
    padding: 20px 0 10px 0px;
    margin: 40px 0 20px 0;
    overflow: hidden;
    text-align: left;
    font-family: Poppins;
    font-size: 15px;
    border-bottom: 3px dotted #2f3a4e;
    @include flex(center, space-between, column);

    &:last-child {
        padding-bottom: 200px;
    }

    .title {
        color: #58677a;
        text-align: center;
    }

    .description {
        color: rgba(88, 103, 122, 0.698);
        text-align: center;
        font-size: 85%;
    }

    .challenge-info {
        width: 100%;
        @include flex(space-evenly, center, row);
        flex-wrap: wrap;

        & > div {
            width: 30%;
            height: 40px;
            @include flex(center, center);
            margin: 30px 0 25px 0;
            border-radius: 40px;
            color: transparent;
            border: 2px solid transparent;

            &.rep {
                border: none;
            }
        }
    }

    &.daily {
        .challenge-info > div {
            color: #30c9ce;
            border-color: #30c9ce;
        }
    }

    &.weekly {
        .challenge-info > div {
            color: #307ece;
            border-color: #307ece;
        }
    }

    &.elite {
        .challenge-info > div {
            color: #f06718;
            border-color: #f06718;
        }
    }


    @include for-phones-only {
        width: calc(100% - 17px);

        .challenge-info {
            & > div {
                font-size: 13px;
            }
        }
    }
}