@import "@Styles/base/fonts";
@import "@Styles/utils/mixins";
@import "@Styles/utils/variables";

.nightwave {
    header {
        //border-bottom: 4px dotted #31425f;
        height: 20%;
        width: 100%;
        padding: 10px 0;
        @include flex(center, center, column);

        .title {
            font-size: 34px;
            color: #ccd9f0;
            opacity: 0.8;
            margin-bottom: 10px;
        }

        .sort {
            width: 100%;
            font-size: 15px;
            overflow: hidden;
            border-radius: 40px;
            @include flex(space-between, center);

            .bubble:nth-child(2) {
                border-left: 1px solid rgba(88, 103, 122, 0.2);
                border-right: 1px solid rgba(88, 103, 122, 0.2);
            }

            .bubble {
                font-family: Poppins;
                background-color: #2f3a4e;
                color: #58677a;
                padding: 5px;
                text-align: center;
                width: 33.333%;
                display: inline-block;
                transition: all .5s;
                cursor: pointer;
                border: none;

                &:hover, &.active {
                    color: #307ece;
                    background-color: #fff;
                }
            }
        }
    }

    main {
        width: 100%;
        height: 80%;
        overflow: hidden; // hide the scrollbar

        & > div {
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            padding-right: 37px;
            box-sizing: content-box;

            .challenge {
                width: calc(100% + 17px); // random pixel value
                height: auto;
                min-height: 100px;
                padding: 20px 0 10px 0px;
                margin: 20px 0;
                overflow: hidden;
                text-align: left;
                font-family: Poppins;
                font-size: 15px;
                border-bottom: 3px dotted #2f3a4e;
                @include flex(center, space-between, column);

                &:last-child {
                    padding-bottom: 200px;
                }

                .title {
                    color: #58677a;
                    text-align: center;
                }

                .description {
                    color: rgba(88, 103, 122, 0.698);
                    text-align: center;
                    font-size: 85%;
                }

                .challenge-info {
                    width: 100%;
                    @include flex(space-evenly, center, row);
                    flex-wrap: wrap;

                    & > div {
                        width: 40%;
                        height: 40px;
                        @include flex(center, center);
                        margin: 30px 0 25px 0;
                        border-radius: 40px;
                        color: #307ece;
                        border: 2px solid #307ece;
                    }
                }
            }
        }
    }

}