@import "@Styles/utils/mixins";
@import "@Styles/utils/variables";

.nightwave {
    height: 100%;
    background-color: #1e293c;
    padding: 0 30px 0 30px;
    border-radius: 20px;
    overflow: hidden;

    header {
        //border-bottom: 4px dotted #31425f;
        height: 20%;
        width: 100%;
        padding: 30px 0 0 0;
        @include flex(center, center, column);

        .title {
            font-size: 34px;
            color: #ccd9f0;
            opacity: 0.8;
            margin-bottom: 10px;
        }

        .sort {
            width: 100%;
            font-size: 15px;
            overflow: hidden;
            border-radius: 40px;
            @include flex(space-between, center);

            .bubble:nth-child(2) {
                border-left: 1px solid rgba(88, 103, 122, 0.2);
                border-right: 1px solid rgba(88, 103, 122, 0.2);
            }

            .bubble {
                font-family: Poppins;
                background-color: #2f3a4e;
                color: #58677a;
                padding: 5px;
                text-align: center;
                width: 33.333%;
                display: inline-block;
                transition: all .5s;
                cursor: pointer;
                border: none;

                &:hover, &.active {
                    color: #307ece;
                    background-color: #fff;
                }
            }
        }
    }

    main {
        width: 100%;
        height: 80%;
        overflow: hidden; // hide the scrollbar

        & > div {
            width: calc(100% + 17px);
            height: 100%;
            overflow-y: scroll;
            padding-right: 37px;
            box-sizing: content-box;
        }
    }

}