@import "@Styles/utils/mixins";
@import "@Styles/utils/variables";

.quick-info {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    

    .cycles {
        width: 100%;
        height: 150px;
        border-radius: inherit;
        background-color: #7289da;
        @include flex(center, center);
        overflow: hidden;
        position: relative;
    }
}