@import "@Styles/base/fonts";
@import "@Styles/utils/mixins";
@import "@Styles/utils/variables";


.news-container {
    width: 90%;

    header {
        font-family: Montserrat; // Temporary
        font-size: 46px;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }

    .wrapper {
        width: 100%;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 70px);
        grid-gap: 20px;

        transition: all $transitionSpeed;

        @media screen and (max-width: $widthSmallest) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(8, 70px);
        }
    }




    @media screen and (max-width: $widthSmallest) {
        width: 90%;
    }

    @media screen and (min-width: $widthSmall) {
        width: 720px;
    }

    @media screen and (min-width: $widthMedium) {
        width: 960px;
    }

    @media screen and (min-width: $widthLarge) {
        width: 1140px;
    }
}