@import "@Styles/base/fonts";
@import "@Styles/utils/mixins";
@import "@Styles/utils/variables";


.news-container {

    .wrapper {
        width: auto;
        height: autO;

        @include flex(center, center);

        transition: all $transitionSpeed;
        background-color: red;

        div { // Bad name?
            width: 700px;
            height: 300px;
            margin: 20px;
            border-radius: 4px;
            box-shadow: $simpleBoxShadow;
            @include flex(center, center);
            
            @include phone(max-width) { width: 700px; } // for now
            @include phone { width: 720px; }    
            @include tablet { width: 960px; }        
            @include desktop { width: 1140px; }
        }
    }

}