@import "@Styles/utils/mixins";
@import "@Styles/utils/variables";

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
    background-color: $light;
    overflow-x: hidden;

    #root {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        // For everything that doesn't ovveride
        font-family: Poppins;
        color: $lightFont;
        @include flex(center, flex-start, column);


        @media screen and (max-width: $widthSmallest) {
            width: 100%;
        }
    }
}