@import "@Styles/utils/mixins";
@import "@Styles/utils/variables";

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
    background-color: $light;
    overflow-x: hidden;

    #root {
        width: 100%;
        height: 100%;

        background-color: transparent;

        display: grid;
        grid-template-columns: repeat(var(--column-amount), var(--column-width));
        grid-template-rows: repeat(var(--row-amount), var(--row-height));

        z-index: 2;
    }
}