@import "@Styles/utils/mixins";
@import "@Styles/utils/variables";

html {
    width: 100%;
    height: 100%;
}

body {
    @extend html;

    margin: 0;
    padding: 0;

    #root {
        // Calculate a 100% width excluding the sidebar
        width: calc(100% - #{$sidebarWidth + $sidebarMargin});
        height: auto;
        margin: 0;
        // Move the root container to the left by
        // the sidebar width so the body doesn't overflow
        margin-left: $sidebarWidth + $sidebarMargin;
        padding: 0;
    }
}