@mixin flex($justify, $align, $direction: row) {

    display: flex;

    // so that the first argument is always
    // horizontal and the second one is always
    // vertical
    @if $direction == column {
        align-items: $justify;
        justify-content: $align;
    } @else {
        align-items: $align;
        justify-content: $justify;
    }

    flex-direction: $direction;
}



$phone: 600px;
$tablet: 900px;
$desktop: 1200px;
$desktopPlus: 1800px;

// What are these names!?!?!
@mixin for-phones-only {
    @media screen and (max-width: $phone) { @content; }
}

@mixin for-tablet-only {
    @media screen and (max-width: $tablet) and (min-width: $phone) { @content; }
}

@mixin for-tablet-and-below {
    @media screen and(max-width: $tablet) { @content; }
}

@mixin for-tablet-and-above {
    @media screen and (min-width: $tablet) { @content; }
}

@mixin for-small-desktop {
    @media screen and (max-width: $desktop) { @content; }
}