@mixin flex($justify, $align, $direction: row) {

    display: flex;

    // so that the first argument is always
    // horizontal and the second one is always
    // vertical
    @if $direction == column {
        align-items: $justify;
        justify-content: $align;
    } @else {
        align-items: $align;
        justify-content: $justify;
    }

    flex-direction: $direction;
}