@mixin flex($justify, $align, $direction: row) {

    display: flex;

    // so that the first argument is always
    // horizontal and the second one is always
    // vertical
    @if $direction == column {
        align-items: $justify;
        justify-content: $align;
    } @else {
        align-items: $align;
        justify-content: $justify;
    }

    flex-direction: $direction;
}



$phone: 720px;
$tablet: 860px;
$desktop: 1200px;

@mixin phone($limit: min-width) {
    @media screen and ($limit: #{$phone}) {
        @content;
    }
}

@mixin tablet($limit: min-width) {
    @media screen and ($limit: #{$tablet}) {
        @content;
    }
}

@mixin desktop($limit: min-width) {
    @media screen and ($limit: #{$desktop}) {
        @content;
    }
}