$dark               : #282c34;
$darker             : #20232a;

$darkFont           : #282c34;
$lighterFont        : #33373f;
$lightFont          : #b0b4bd;
$transparentFont    : rgba(255, 255, 255, 0.2);

$accentColor        : #4dabf7;
$borderColor        : $accentColor;
$glowColor          : rgba(34,139,230,0.5);

$transitionSpeed    : .2s;

$simpleBoxShadow    : 0 0 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$glowBoxShadow      : inset 0 1px 1px rgba(0,0,0,0.0125),0 0 8px $glowColor;
$glowDropShadow     : drop-shadow(0px 0px 10px $glowColor);


// Used in navbar.scss & app.scss
$sidebarWidth       : 70px;
$sidebarMargin      : 40px;


// Media queries
$widthSmallest      : 720px;
$widthSmall         : 860px;
$widthMedium        : 1140px;
$widthLarge         : 1400px;