$dark           : #282c34;
$darker         : #20232a;

$darkFont       : #282c34;
$lighterFont    : #33373f;
$lightFont      : #b0b4bd;

$accentColor    : #2ba7e0;

$transitionSpeed: .2s;

// Used in navbar.scss & app.scss
$sidebarWidth   : 70px;
$sidebarMargin  : 40px;