@import "@Styles/base/fonts";
@import "@Styles/utils/mixins";
@import "@Styles/utils/variables";


/*
    The styles can be overriden by creating new rules
    for the class the carousel gets I guess
*/
.home-carousel {
    // Position inside the global grid
    grid-row: 2 / 5;
    grid-column: 1 / calc(var(--column-amount) + 1);

    position: relative;
    z-index: 4;

    @include flex(flex-start, center, column);

    // Handle the Swipe component div
    & > div {
        width: 100%;
        height: 100%;
    }

    button {
        position: absolute;
        height: 100%;
        border: none;
        opacity: 0.5;

        &.prev {
            left: 0;
        }

        &.next {
            right: 0;
        }
    }

    @include for-tablet-only {
        grid-row: 6 / 13;
    }

    @include for-phones-only {
        grid-row: 4 / calc(var(--row-amount) - 3);

        button {
            display: none;
        }
    }

    // TODO: Handle very big screens too
}