@import "@Styles/base/fonts";
@import "@Styles/utils/mixins";
@import "@Styles/utils/variables";


/*
    The styles can be overriden by creating new rules
    for the class the carousel gets I guess
*/
.home-carousel {
    // Position inside the global grid
    grid-row: 2 / 5;
    grid-column: 1 / calc(var(--column-amount) + 1);

    position: relative;
    z-index: 4;

    @include flex(flex-start, center, column);

    // Handle the Swipe component div
    & > div {
        width: 100%;
        height: 100%;
    }

    button {
        position: absolute;
        height: 100%;
        width: var(--column-width);
        opacity: 0.4;
        cursor: pointer;
        transition: all $transitionSpeed;

        &, &:focus, &:active {
            border: none;
            outline: none;
            background: none;
            padding: 0;
        }

        svg {
            transition: all .2s;
        }

        &.hidden {
            opacity: 0;
        }

        &.prev {
            left: 0;
            &:hover svg {
                transform: translateX(-5px);
            }
        }

        &.next {
            right: 0;
            &:hover svg {
                transform: translateX(5px);
            }
        }
    }

    @include for-tablet-only {
        grid-row: 6 / 13;
    }

    @include for-phones-only {
        grid-row: 4 / calc(var(--row-amount));

        button {
            height: var(--row-height);
            bottom: var(--row-height);
            width: calc(var(--column-width) * 2);
            &.prev {
                left: var(--column-width);
            }
            &.next {
                right: var(--column-width);
            }
        }

        .info {
            position: absolute;
            bottom: var(--row-height);
            left: 50%;
            transform: translateX(-50%);
            height: var(--row-height);
            width: calc(var(--column-width) * 2);
            text-align: center;
            margin: 0;
            padding: 0;
            @include flex(center, center);
            font-family: Poppins;
            opacity: 0.4;
        }
    }

    // TODO: Handle very big screens too
}