@import "@Styles/utils/mixins";
@import "@Styles/utils/variables";


:root {
    // Jesus
    --slot-basis: calc(var(--column-width) * 4);
    --slot-margin: var(--column-width);
    --slot-basis-n: calc(-1 * var(--slot-basis) - var(--slot-margin));

    @include for-phones-only {
        --slot-basis: calc(var(--column-width) * 6);
    }
}

.home-carousel {
    .carousel-slot {
        flex: 1 0 100%;
        flex-basis: var(--slot-basis);
        margin-left: var(--slot-margin);
        height: 100%;

        background-color: #7289da;
        border-radius: 10px;

        @include flex(center, flex-start);
        font-family: Poppins;

        // TODO: This doesn't look that great
        box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.10);
    }
}