@import "@Styles/utils/mixins";
@import "@Styles/utils/variables";

.indicator {
    @include flex(center, center);

    .item-indicator {

        svg {
            circle {
                transition: all $transitionSpeed;
                stroke: transparent;
                fill: green;

                &.active {
                    stroke: blue;
                }
            }
        }
    }
}

.home-carousel {
    .indicator {
        // TODO: Temporary styles, home carousel won't have this.
        height: auto;
        width: calc(var(--column-width) * 4);
        position: absolute;

        bottom: calc(var(--row-height) * -1); // One row under the carousel
        left: calc(var(--column-width)); // 2 columns from the left

        @include flex(center, center);
    }
}