@import "@Styles/utils/mixins";


.home-carousel { // Specific for the one on the home page
    .wrapper {
        width: 100%;
        height: 100%;
    
        @include flex(flex-start, center);

        @include for-phones-only {
            height: calc(var(--row-height) * 9);
        }
    }
}